<div class="flex w-full h-full flex-col overflow-auto">
  <ng-container *ngIf="!editMode">

    <!-- Header Migliorato -->
    <div class="flex items-center justify-between px-6 py-4 bg-secondary text-white">
      
      <button mat-icon-button matTooltip="Chiudi" (click)="closePanel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Content -->
    <div class="relative flex-1 overflow-auto p-6 sm:p-12">
      <div class="w-full max-w-4xl mx-auto">

        <!-- Avatar + Azioni -->
        <div class=" flex items-center justify-between">
          <!-- Avatar -->
          <div class="flex-shrink-0 h-32 w-32 rounded-full ring-4 ring-white overflow-hidden bg-gray-200 dark:bg-gray-700 flex items-center justify-center text-4xl font-bold uppercase text-gray-600 dark:text-gray-200">
            {{ getInitialsFromString(contact.stakeholder.companyName) }}
          </div>

          <!-- Bottone Modifica -->
          <button class="mb-1 ml-auto flex items-center" mat-stroked-button color="primary" (click)="toggleEditMode(true)">
            <mat-icon>edit</mat-icon>
            <span class="ml-2">Modifica</span>
          </button>
        </div>

        <!-- Nome azienda -->
        <div class="mt-4 text-2xl font-bold text-gray-800 dark:text-gray-100">
          {{ contact.stakeholder.companyName }}
        </div>

        <!-- Tags -->
        <div *ngIf="contact?.matches?.length > 0" class="mt-4 flex flex-wrap gap-2">
          <span *ngFor="let match of contact.matches; trackBy: trackByMatchId" class="px-3 py-1 text-sm font-medium rounded-full bg-gray-100 dark:bg-gray-700 text-gray-600 dark:text-gray-300">
            {{ match.stakeholderType }}
          </span>
        </div>

        <!-- Placeholder per dettagli anagrafici, aziendali e userDetails -->

        <!-- Anagrafica -->
        <div *ngIf="matchedStakeholders()[0].personalData" class="mt-4 flex flex-col space-y-8 border-t pt-6">
          <mat-expansion-panel *ngIf="matchedStakeholders()[0] as match">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>account_circle</mat-icon>
                Dati Anagrafici
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Dati anagrafici -->
              <div class="pt-6 border-t mt-6" class="text-lg font-semibold mt-4 mb-2">Dati anagrafici</div>
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div *ngIf="match.personalData?.name">👤 Nome: {{ match.personalData.name }}</div>
                <div *ngIf="match.personalData?.surname">👤 Cognome: {{ match.personalData.surname }}</div>
                <div *ngIf="match.personalData?.fiscalCode">🆔 Codice fiscale: {{ match.personalData.fiscalCode }}</div>
                <div *ngIf="match.personalData?.email">📧 Email: {{ match.personalData.email }}</div>
                <div *ngIf="match.personalData?.phone">📞 Telefono: {{ match.personalData.phone }}</div>
                <div *ngIf="match.personalData?.gender">⚧ Genere: {{ match.personalData.gender }}</div>
                <div *ngIf="match.personalData?.birthday">🎂 Nascita: {{ match.personalData.birthday | date: 'longDate'
                  }}</div>
                <div *ngIf="match.personalData?.birthPlace">🏡 Luogo di nascita: {{ match.personalData.birthPlace }}
                </div>
                <div *ngIf="match.personalData?.birthCounty">📍 Provincia nascita: {{ match.personalData.birthCounty }}
                </div>
                <div *ngIf="match.personalData?.title">📛 Titolo: {{ match.personalData.title }}</div>
                <div *ngIf="match.personalData?.address">📬 Indirizzo: {{ match.personalData.address }}</div>
                <div *ngIf="match.personalData?.houseNumber">🏠 Civico: {{ match.personalData.houseNumber }}</div>
                <div *ngIf="match.personalData?.cap">📮 CAP: {{ match.personalData.cap }}</div>
                <div *ngIf="match.personalData?.province">📍 Provincia: {{ match.personalData.province }}</div>
                <div *ngIf="match.personalData?.common">🏘️ Comune: {{ match.personalData.common }}</div>
                <div *ngIf="match.personalData?.region">🌍 Regione: {{ match.personalData.region }}</div>
                <div *ngIf="match.personalData?.latitude">🧭 Latitudine: {{ match.personalData.latitude }}</div>
                <div *ngIf="match.personalData?.longitude">🧭 Longitudine: {{ match.personalData.longitude }}</div>
              </div>
          </mat-expansion-panel>
        </div>


          <!-- Dati aziendali -->
        <div *ngIf="matchedStakeholders()[0].companyData" class="mt-4 flex flex-col space-y-8 border-t pt-6">
          <mat-expansion-panel *ngIf="matchedStakeholders()[0] as match">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>account_circle</mat-icon>
                Dati Aziendali
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Dati anagrafici -->
              <div class="text-lg font-semibold mb-2">Dati aziendali</div>
              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div *ngIf="match.companyData?.companyName">🏢 Ragione sociale: {{ match.companyData.companyName }}
                </div>
                <div *ngIf="match.companyData?.vatNumber">💼 Partita IVA: {{ match.companyData.vatNumber }}</div>
                <div *ngIf="match.companyData?.email">📧 Email aziendale: {{ match.companyData.email }}</div>
                <div *ngIf="match.companyData?.phone">📞 Telefono azienda: {{ match.companyData.phone }}</div>
                <div *ngIf="match.companyData?.address">📬 Indirizzo sede: {{ match.companyData.address }}</div>
                <div *ngIf="match.companyData?.houseNumber">🏠 Civico sede: {{ match.companyData.houseNumber }}</div>
                <div *ngIf="match.companyData?.cap">📮 CAP sede: {{ match.companyData.cap }}</div>
                <div *ngIf="match.companyData?.province">📍 Provincia: {{ match.companyData.province }}</div>
                <div *ngIf="match.companyData?.common">🏘️ Comune: {{ match.companyData.common }}</div>
                <div *ngIf="match.companyData?.region">🌍 Regione: {{ match.companyData.region }}</div>
                <div *ngIf="match.companyData?.pec">📨 PEC: {{ match.companyData.pec }}</div>
                <div *ngIf="match.companyData?.sdiCode">📦 Codice SDI: {{ match.companyData.sdiCode }}</div>
                <div *ngIf="match.companyData?.latitude">🧭 Latitudine: {{ match.companyData.latitude }}</div>
                <div *ngIf="match.companyData?.longitude">🧭 Longitudine: {{ match.companyData.longitude }}</div>
              </div>
          </mat-expansion-panel>
        </div>


        <!-- user details -->
        <div *ngFor="let match of matchedStakeholders(); let i = index"
          class="mt-4 flex flex-col space-y-6 border-t pt-6">


          <!-- client details -->
          <div *ngIf="match.stakeholderType == 'Cliente'">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>account_circle</mat-icon>
                  Cliente
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- USER DETAILS: solo se Cliente -->
              <div class="pt-6 border-t mt-6">
                <div class="text-lg font-semibold mb-2">Dettagli cliente</div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div *ngIf="match.userDetails?.iban">🏦 IBAN: {{ match.userDetails.iban }}</div>
                  <div *ngIf="match.userDetails?.clientCode">🧾 Codice cliente: {{ match.userDetails.clientCode }}</div>
                  <div *ngIf="match.userDetails?.origin">🌐 Origine: {{ match.userDetails.origin }}</div>
                  <div *ngIf="match.userDetails?.businessSector">🏭 Settore: {{ match.userDetails.businessSector }}
                  </div>
                  <div *ngIf="match.userDetails?.clientType">🧑‍💼 Tipo cliente: {{ match.userDetails.clientType }}
                  </div>
                  <div *ngIf="match.userDetails?.agreement">📃 Convenzione: {{ match.userDetails.agreement }}</div>
                  <div *ngIf="match.userDetails?.sdiCode">📦 Codice SDI: {{ match.userDetails.sdiCode }}</div>
                </div>
              </div>

              <!-- COMPANY DATA -->

            </mat-expansion-panel>

          </div>


          <!-- fornitore details -->
          <div *ngIf="match.stakeholderType == 'Fornitore'">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>account_circle</mat-icon>
                  Fornitore
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- USER DETAILS: solo se Cliente -->
              <div class="pt-6 border-t mt-6">
                <div class="text-lg font-semibold mb-2">Dettagli Fornitore</div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div *ngIf="match.userDetails?.methodPayment">🏦 methodPayment: {{ match.userDetails.methodPayment }}
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>


          <!-- dipendente details -->
          <div *ngIf="match.stakeholderType == 'Dipendente'">

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>account_circle</mat-icon>
                  Dipendente
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- USER DETAILS: solo se Cliente -->
              <div class="pt-6 border-t mt-6">
                <div class="text-lg font-semibold mb-2">Dettagli Dipendente</div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div *ngIf="match.userDetails?.role">🏦 Ruolo: {{ match.userDetails.role }}</div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>


          <!-- utilizzatore details -->
          <div *ngIf="match.stakeholderType == 'Utilizzatore'">

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>account_circle</mat-icon>
                  Utilizzatore
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- USER DETAILS: solo se Cliente -->
              <div class="pt-6 border-t mt-6">
                <div class="text-lg font-semibold mb-2">Dettagli Utilizzatore</div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div *ngIf="match.userDetails?.reference">🏦 Point associato: {{ match.userDetails.reference }}</div>
                </div>
              </div>
            </mat-expansion-panel>
          </div>


        </div>
      </div>
    </div>

  </ng-container>
</div>

