<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-5 md:p-8 justify-between">
        <div>
            <div class="text-3xl font-semibold leading-8 tracking-tight">
                Dashboard Stakeholders
            </div>
            <div class="text-secondary font-medium tracking-tight">
                Monitora gli stakeholders, cerca e visualizza informazioni
            </div>
        </div>
        <div class="ml-6 flex items-center">
            <button class="hidden sm:inline-flex" mat-stroked-button>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:cog-8-tooth'"
                ></mat-icon>
                <span class="ml-2">Settings</span>
            </button>
            <!-- <button
                class="ml-3 hidden sm:inline-flex"
                mat-flat-button
                [color]="'primary'"
            >
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-up-tray'"
                ></mat-icon>
                <span class="ml-2">Export</span>
            </button> -->

            <!-- Actions menu (visible on xs) -->
            <div class="sm:hidden">
                <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                    <mat-icon
                        [svgIcon]="'heroicons_outline:ellipsis-vertical'"
                    ></mat-icon>
                </button>
                <mat-menu #actionsMenu="matMenu">
                    <!-- <button mat-menu-item>Export</button> -->
                    <button mat-menu-item>Settings</button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        

        <div
            class="mt-8 grid w-full grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-5"
        >
          <!-- Clienti -->
          <div
          class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
      >
          <div class="m-6 mb-0 flex items-start justify-between">
              <div
                  class="truncate text-lg font-medium leading-6 tracking-tight"
              >
                  Clienti
              </div>
              <div class="ml-2">
                <button
                class="bg-hover h-6 min-h-6 rounded-full px-2 flex items-center"
                (click)="redirectToAnagrafica()">
                    <mat-icon class="text-secondary ml-1" aria-hidden="false" aria-label="Redirect icon">arrow_forward</mat-icon>
                </button>
              </div>
          </div>
          <div
              class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
          >
              <div
                  class="text-7xl font-bold leading-tight tracking-tighter"
              >
                  {{ data.stakeholders.amount }}
              </div>
              <div class="flex lg:ml-3 lg:flex-col">
                  <mat-icon
                      class="text-green-500 icon-size-5"
                      [svgIcon]="'heroicons_mini:arrow-trending-up'"
                  ></mat-icon>
                  <div
                      class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
                  >
                      <span class="font-medium text-green-500">2%</span>
                      <span class="ml-1">sopra target</span>
                  </div>
              </div>
          </div>
          <div class="flex h-20 flex-auto flex-col">
            <apx-chart
                class="h-full w-full flex-auto"
                [chart]="chartClients.chart"
                [colors]="chartClients.colors"
                [series]="chartClients.series"
                [stroke]="chartClients.stroke"
                [tooltip]="chartClients.tooltip"
                [xaxis]="chartClients.xaxis"
                [yaxis]="chartClients.yaxis"
            ></apx-chart>
          </div>
      </div>
       <!-- Fornitori -->
       <div
       class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
   >
       <div class="m-6 mb-0 flex items-start justify-between">
           <div
               class="truncate text-lg font-medium leading-6 tracking-tight"
           >
               Fornitori
           </div>
           <div class="ml-2">
            <button
            class="bg-hover h-6 min-h-6 rounded-full px-2 flex items-center"
            (click)="redirectToAnagrafica()">
                <mat-icon class="text-secondary ml-1" aria-hidden="false" aria-label="Redirect icon">arrow_forward</mat-icon>
            </button>
          </div>
       </div>
       <div
           class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
       >
           <div
               class="text-7xl font-bold leading-tight tracking-tighter"
           >
               {{ data.stakeholders.amount }}
           </div>
           <div class="flex lg:ml-3 lg:flex-col">
               <mat-icon
                   class="text-red-500 icon-size-5"
                   [svgIcon]="'heroicons_mini:arrow-trending-down'"
               ></mat-icon>
               <div
                   class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
               >
                   <span class="font-medium text-red-500">2%</span>
                   <span class="ml-1">sotto target</span>
               </div>
           </div>
       </div>
       <div class="flex h-20 flex-auto flex-col">
         <apx-chart
             class="h-full w-full flex-auto"
             [chart]="chartClients.chart"
             [colors]="chartClients.colors"
             [series]="chartClients.series"
             [stroke]="chartClients.stroke"
             [tooltip]="chartClients.tooltip"
             [xaxis]="chartClients.xaxis"
             [yaxis]="chartClients.yaxis"
         ></apx-chart>
       </div>
   </div>

    <!-- Prospect -->
    <div
    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
>
    <div class="m-6 mb-0 flex items-start justify-between">
        <div
            class="truncate text-lg font-medium leading-6 tracking-tight"
        >
        Prospect
        </div>
        <div class="ml-2">
                <button
                class="bg-hover h-6 min-h-6 rounded-full px-2 flex items-center"
                (click)="redirectToAnagrafica()">
                    <mat-icon class="text-secondary ml-1" aria-hidden="false" aria-label="Redirect icon">arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    <div
        class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
    >
        <div
            class="text-7xl font-bold leading-tight tracking-tighter"
        >
            {{ data.stakeholders.amount }}
        </div>
        <div class="flex lg:ml-3 lg:flex-col">
            <mat-icon
                class="text-red-500 icon-size-5"
                [svgIcon]="'heroicons_mini:arrow-trending-down'"
            ></mat-icon>
            <div
                class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
            >
                <span class="font-medium text-red-500">2%</span>
                <span class="ml-1">sotto target</span>
            </div>
        </div>
    </div>
    <div class="flex h-20 flex-auto flex-col">
      <apx-chart
          class="h-full w-full flex-auto"
          [chart]="chartClients.chart"
          [colors]="chartClients.colors"
          [series]="chartClients.series"
          [stroke]="chartClients.stroke"
          [tooltip]="chartClients.tooltip"
          [xaxis]="chartClients.xaxis"
          [yaxis]="chartClients.yaxis"
      ></apx-chart>
    </div>
    </div>

 <!-- Utilizzatori -->
    <div
    class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
    >
    <div class="m-6 mb-0 flex items-start justify-between">
        <div
            class="truncate text-lg font-medium leading-6 tracking-tight"
        >
        Utilizzatori
        </div>
        <div class="ml-2">
            <button
            class="bg-hover h-6 min-h-6 rounded-full px-2 flex items-center"
            (click)="redirectToAnagrafica()">
                <mat-icon class="text-secondary ml-1" aria-hidden="false" aria-label="Redirect icon">arrow_forward</mat-icon>
            </button>
          </div>
    </div>
    <div
        class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
    >
        <div
            class="text-7xl font-bold leading-tight tracking-tighter"
        >
            {{ data.stakeholders.amount }}
        </div>
        <div class="flex lg:ml-3 lg:flex-col">
            <mat-icon
                class="text-red-500 icon-size-5"
                [svgIcon]="'heroicons_mini:arrow-trending-down'"
            ></mat-icon>
            <div
                class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
            >
                <span class="font-medium text-red-500">2%</span>
                <span class="ml-1">sotto target</span>
            </div>
        </div>
    </div>
    <div class="flex h-20 flex-auto flex-col">
    <apx-chart
        class="h-full w-full flex-auto"
        [chart]="chartClients.chart"
        [colors]="chartClients.colors"
        [series]="chartClients.series"
        [stroke]="chartClients.stroke"
        [tooltip]="chartClients.tooltip"
        [xaxis]="chartClients.xaxis"
        [yaxis]="chartClients.yaxis"
    ></apx-chart>
    </div>
    </div>

 <!-- Dipendenti -->
 <div
 class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow sm:col-span-2 lg:col-span-1"
>
 <div class="m-6 mb-0 flex items-start justify-between">
     <div
         class="truncate text-lg font-medium leading-6 tracking-tight"
     >
         Dipendenti
     </div>
     <div class="ml-2">
        <button
        class="bg-hover h-6 min-h-6 rounded-full px-2 flex items-center"
        (click)="redirectToAnagrafica()">
            <mat-icon class="text-secondary ml-1" aria-hidden="false" aria-label="Redirect icon">arrow_forward</mat-icon>
        </button>
      </div>
 </div>
 <div
     class="mx-6 mt-3 flex flex-col lg:flex-row lg:items-center"
 >
     <div
         class="text-7xl font-bold leading-tight tracking-tighter"
     >
         {{ data.stakeholders.amount }}
     </div>
     <div class="flex lg:ml-3 lg:flex-col">
         <mat-icon
             class="text-red-500 icon-size-5"
             [svgIcon]="'heroicons_mini:arrow-trending-down'"
         ></mat-icon>
         <div
             class="text-secondary ml-1 flex items-center whitespace-nowrap text-md leading-none lg:ml-0 lg:mt-0.5"
         >
             <span class="font-medium text-red-500">2%</span>
             <span class="ml-1">sotto target</span>
         </div>
     </div>
 </div>
 <div class="flex h-20 flex-auto flex-col">
   <apx-chart
       class="h-full w-full flex-auto"
       [chart]="chartClients.chart"
       [colors]="chartClients.colors"
       [series]="chartClients.series"
       [stroke]="chartClients.stroke"
       [tooltip]="chartClients.tooltip"
       [xaxis]="chartClients.xaxis"
       [yaxis]="chartClients.yaxis"
   ></apx-chart>
 </div>
</div>
     
        </div>

    </div>
    

</div>